<header>
    <nav>
        <ul>
            <li><a href="/views/getAllCourse">Khóa học</a></li>
            <li><a href="/views/getAllTeacher">Giáo viên</a></li>
            <li><a href="/views/getAllClass">Lớp học</a></li>
            <li><a href="/views/getAllStudent">Học viên</a></li>
        </ul>
    </nav>
</header>